<div  
  class="container"
  ntPagingContainer
  #paging="ntPaging"
  url="/miniapp/queryOrganization"  
>  
  <universal-data-filters [controls]="filters" [extractButtons]="[{key: 'add', label: '新增'}]" (btnClick)="dataTable.openFormModal('新增')"></universal-data-filters>
  <universal-data-table #dataTable [columns]="columns" [rowSelectable]="true" [rowDraggable]="true" uniqueField="code" [cellRender]="{describe: describeTpl}" [formOptions]="formOptions">    
    <ng-template #colAction let-rowData>
      <button nz-button (click)="dataTable.openFormModal('编辑', rowData)">编辑</button>
    </ng-template>
    <ng-template #rowExpand let-rowData>
      <span>{{rowData | json}}</span>
    </ng-template>
  </universal-data-table>     
</div>

<ng-template #describeTpl let-rowData let-field="field">
  <span>描述:</span>
  <span style="color: red;">{{rowData[field]}}</span>
</ng-template>