<section class="filter-container">
  <div class="header actions" *ngIf="controls.length > 2" >  
    <ng-container [ngTemplateOutlet]="filterActions"></ng-container>  
  </div>
  <form nz-form nz-row  nzGutter="15" [formGroup]="filterFormGroup">
    <div class="col" nz-col nzSpan="8" *ngFor="let control of controls">
      <nz-form-item class="filter-item">
        <nz-form-label>{{control.label}}</nz-form-label>
        <nz-form-control>
          <ng-container [ngSwitch]="control.type">
            <!-- 筛选控件: 输入框 -->
            <ng-container *ngSwitchCase="'input'">        
              <input type="text" nz-input [formControlName]="control.key">     
            </ng-container>
            <!-- 筛选控件：下拉选择框 -->
            <ng-container *ngSwitchCase="'select'">
              <app-selector-control-item 
                [control]="control" 
                [formControlName]="control.key"
                (pagingSelectorCreated)="registerServerSelectorPaging(control.key, $event)"
              ></app-selector-control-item>
            </ng-container>
          </ng-container>
        </nz-form-control>    
      </nz-form-item>
    </div>   
    <div class="actions" class="col"nz-col nzSpan="8" style="text-align: right;" *ngIf="controls.length < 3">
      <ng-container [ngTemplateOutlet]="filterActions"></ng-container>  
    </div> 
  </form>
</section>

<ng-template #filterActions let-btnSize="btnSize">
  <button nz-button nzType="primary" [nzLoading]="isLoading" (click)="search()">查询</button>&nbsp;
  <button nz-button nzType="default" [disabled]="isLoading" (click)="resetFilters()">重置</button>  
  <ng-container *ngFor="let item of extractButtons">
    &nbsp;<button nz-button (click)="onBtnClick(item.key)">{{item.label}}</button>
  </ng-container>   
</ng-template>